# VITE_API_URL="https://node-api-hgzi.onrender.com/api/v1"
VITE_API_URL="http://localhost:3000/api/v1"

# Socket URL (backend origin, no /api/v1)
# VITE_SOCKET_URL="https://node-api-hgzi.onrender.com"
VITE_SOCKET_URL="http://localhost:3000"

